<li class="is-dropdown-submenu-parent">
  <a href="#">Sobre</a>
  <ul class="menu vertical nested">
    <li><a href="#">Codigo de Conducta</a></li>
    <li><a href="#">Organizadores</a></li>
    <li><a href="#">¿Por qué DjangoColombia?</a></li>
  </ul>
</li>
<li><a href="#">Comunidades</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="#">Sponsors</a>
  <ul class="menu vertical nested">
    <li><a href="#">Nuestros Sponsors</a></li>
    <li><a href="#">Se un Sponsor</a></li>
  </ul>
</li>
<li><a href="#">Blog</a></li>
<li class="has-button">
  <a class="button hollow theme-festival" href="{{ site.ticket_link }}">
    Inscribe tu Charla
  </a>
</li>
