---
title: Unete
layout: base
---

<style>
        .callout {

            border: 4px solid #2C89A0;
        }
</style>


<br><br><br>
<div class="content subpage-content">

<div class="section-pad" id="accessibility">
        <div class="row">
          <div class="column medium-5">
            <h2>¡Únete a la <br> comunidad!</h2>
            <p class="lead min">Queremos saber de ti, y tus expectativas. Se parte de la comunidad.</p>
          </div>
          
          <div class="column medium-6">
            <div class="callout">
              <ul class="bottomless">
                <label for="">Nombres:</label>
               <input type="text" placeholder="Nombres">
               <label for="">Correo Electronico:</label>
               <input type="email" placeholder="Correo">

               <a class="button hollow theme-willow" href="/unete/">Registrame</a>
              </ul>
            </div>
          </div>
        </div>
</div>
</div>

